<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
	<title>PHARMACY</title>
</head>
<body>
	<script language="JavaScript">
	</script>
	<div class="main">
		<div class="header">
			<ul>
				<li><a href="#"><h1>PHARMACY</h1></a></li>
				<li><a href="#"><h2>Списки</h2></a></li>
				<li><a href="#"><h2>Склад</h2></a></li>
				<li><a href="#"><h2>Препараты</h2></a></li>
			</ul>
		</div>
		<form>
			<p>Войти в систему</p>
			<input name="login" type="text" placeholder=" логин">
			<input name="password" type="text" placeholder=" пароль">
			<button>Войти</button>
		</form>
	</div>
	<div class="bottom">
		<div class="down" id="first">ООО “Ди-Фарм” 2022</div>
		<div class="down">
			<div class="down1" id="second"><a href="#">Контакты</a></div>
			<div class="down1"><a href="#">Техническая поддержка</a></div>
		</div>
	</div>
</body>


